fastapi==0.109.2
uvicorn==0.27.1
transformers==4.37.2
requests==2.31.0
numpy==1.26.4
soundfile==0.12.1
torch==2.2.0
torchaudio==2.2.0
accelerate==0.27.2
sentencepiece==0.1.99
librosa==0.10.1
pydub==0.25.1
python-multipart==0.0.9